* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body h1 {
    margin: 15px;
    font-size: 28px;
}

body form {
    width: 300px;
    min-height: 250px;
    padding: 8px;
    border: 1px solid brown;
    border-radius: 5px;
    margin: 5px;
 }

body form input {
    width: 100%;
    height: 40px;
    font-size: 1rem;
 }

 body table {
    width: 300px;
    padding: 8px;
    border: 1px solid brown;
    border-radius: 5px;
}

body table tr:nth-child(even) {
    background-color: #daa6a6;
}

body table tr {
    font-size: 14px;
 }